[package]
name = "price"
version.workspace = true
edition.workspace = true

[dependencies]
static_assertions.workspace = true
pinocchio.workspace = true

[dev-dependencies]
strum.workspace = true
strum_macros.workspace = true

[lints]
workspace = true

[features]
default = []
std = []
